body{
  background-color: #32CD32;
  color:#000000;
  text-align: center;
  font-family: Cambria;
  font-size:1.4rem;
  line-height: 2rem;
}
span{
  color:white;
}
.bottom{
  background-color: black;
  color:#32cd32;
  padding:50px 0;
  margin: 50px 0 100px 0;
}
input{
  height:30px;
  width: 300px;
}
.foot{
  padding-left: 100px;
}
a{
  text-decoration: none;
}
a:hover{
  color: yellow;
}
@media(max-width:900px){
  .foot{
    padding-left: 75px;
    font-size: 15px;
  }
}
